@import "tailwindcss";

:root {
  --background: #07070d;
  --surface: #10101a;
  --foreground: #ffffff;

  --purple: #c7b6ff;
  --lavender: #d6d1ff;
  --pink: #e8c8d8;

  --border: rgba(255, 255, 255, 0.08);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(
      circle at top,
      rgba(199, 182, 255, 0.15),
      transparent 30%
    ),
    #07070d;

  color: white;
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
.space-grid {
  background-image:
    linear-gradient(
      rgba(255,255,255,0.03) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255,255,255,0.03) 1px,
      transparent 1px
    );

  background-size: 60px 60px;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}